<form 
    [formGroup]="todoForm" 
    class="form"
    >
    <p>Your todo</p>
    <mat-form-field>
        <mat-label>Enter todo</mat-label>
        <textarea  
            matInput 
            formControlName="todo"
            >
        </textarea>
        <mat-error *ngIf="todoForm.get('todo')?.invalid">Enter your todo.</mat-error>
    </mat-form-field>
    <mat-slide-toggle formControlName="completed">Completed</mat-slide-toggle>
    <div class="button-container">
        <button 
            mat-raised-button
            class="button"
            color="primary"
            [disabled]="todoForm.invalid"
            (click)="save()"
            >
            Save
        </button>
        <button 
            mat-raised-button
            class="button"
            type="submit"
            color="warn"
            (click)="cancel()"
            >
            Cancel
        </button>
    </div>
</form>
<app-spinner *ngIf="loading"></app-spinner>