:host{
    position: relative;
    padding: 40px 80px 160px 80px;
    display: flex;
    flex-direction: column;
}

.button-add{
    position: fixed;
    right: 80px;
    bottom: 80px;
}

.button-logout{
    position: absolute;
    top: 40px;
    right: 80px;
    margin-bottom: 40px;
    width: 140px;
    font-size: 16px;
}

.title{
    margin: 0px auto 40px auto;
}

.card{
    margin-bottom: 10px;
}

.spinner-container{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    padding-bottom: 20%;
    background-color: rgba(0, 0, 0, 0.38);
}

.spinner{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}