<form 
    [formGroup]="loginForm" 
    class="form"
    (ngSubmit)="submit()"
    >
    <p>Login</p>
    <mat-form-field appearance="outline">
        <mat-label>Enter username</mat-label>
        <input 
            matInput 
            placeholder="Username" 
            formControlName="username"
            >
        <mat-error *ngIf="loginForm.get('username')?.invalid">{{getUsernameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Enter password</mat-label>
        <input 
            matInput 
            [type]="hide ? 'password' : 'text'" 
            formControlName="password"
            >
        <button 
            mat-icon-button 
            matSuffix 
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide"
            >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <button 
        mat-raised-button
        class="button-submit"
        type="submit"
        color="primary"
        [disabled]="loginForm.invalid || (authorize$ | async) === null"
        >
        LogIn
    </button>
    <mat-error *ngIf="(authorize$ | async) === true">{{getInputErrorMessage()}}</mat-error>
    <div 
        class="spinner-container"
        *ngIf="(authorize$ | async) === null"
        >
        <mat-spinner class="spinner"></mat-spinner>
    </div>
</form>